body{
     font-family:roboto mono;
     
}
h1{
     font-family:chelsea market;
}
footer{
     background-color: #f9e7dc;
}
.list1{
     background-color:#ff764e;
}
.list2{
     background-color:#5ed3eb;
}
.list3{
     background-color:#ffcd69;
}
.first-section{
     background-color:#ddb9a3
}
.circle-image{
     border-radius: 50%;
     height:200px;
}
.campfire{
     height:100px;
}
.van{
     height:100px;
}
.bottom-banner{
     height:200px;   
}
.nav-bar{
     display:flex;
     Justify-content:space-around;
}